<?xml version="1.0" ?>
<robot name="URDF" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find URDF_description)/urdf/materials.xacro" />
<xacro:include filename="$(find URDF_description)/urdf/URDF.trans" />
<xacro:include filename="$(find URDF_description)/urdf/URDF.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.021483404329702544 0.02602124280867646 -0.06951546728903525" rpy="0 0 0"/>
    <mass value="5.554037091220957"/>
    <inertia ixx="0.019731" iyy="0.024901" izz="0.017821" ixy="0.000405" iyz="-2.5e-05" ixz="0.00012"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find URDF_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find URDF_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Combined_femur_1">
  <inertial>
    <origin xyz="0.010118104071906081 -0.01753428953089357 -0.006481680057539574" rpy="0 0 0"/>
    <mass value="0.08613648212097492"/>
    <inertia ixx="3.3e-05" iyy="1.4e-05" izz="4.4e-05" ixy="1.6e-05" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.065 0.005 0.144" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find URDF_description)/meshes/Combined_femur_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.065 0.005 0.144" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find URDF_description)/meshes/Combined_femur_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Combined_femur__3__1">
  <inertial>
    <origin xyz="0.014245283831201772 0.01438399207214832 -0.006481680057539546" rpy="0 0 0"/>
    <mass value="0.08613648212097492"/>
    <inertia ixx="2.4e-05" iyy="2.3e-05" izz="4.4e-05" ixy="-1.9e-05" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.065 -0.055 0.144" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find URDF_description)/meshes/Combined_femur__3__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.065 -0.055 0.144" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find URDF_description)/meshes/Combined_femur__3__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Combined_femur__1__1">
  <inertial>
    <origin xyz="0.014373975384444154 0.014255390945551817 0.006481680057539529" rpy="0 0 0"/>
    <mass value="0.08613648212097492"/>
    <inertia ixx="2.3e-05" iyy="2.4e-05" izz="4.4e-05" ixy="-1.9e-05" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.065 -0.055 -0.004" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find URDF_description)/meshes/Combined_femur__1__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.065 -0.055 -0.004" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find URDF_description)/meshes/Combined_femur__1__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Combined_femur__2__1">
  <inertial>
    <origin xyz="0.010126030971558397 -0.01752971295047831 0.006481680057539532" rpy="0 0 0"/>
    <mass value="0.08613648212097492"/>
    <inertia ixx="3.3e-05" iyy="1.4e-05" izz="4.4e-05" ixy="1.6e-05" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.065 0.005 -0.004" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find URDF_description)/meshes/Combined_femur__2__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.065 0.005 -0.004" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find URDF_description)/meshes/Combined_femur__2__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="combined_motor_tibia_1">
  <inertial>
    <origin xyz="0.06435519701667934 -0.07043142801604275 -0.0079672170205178" rpy="0 0 0"/>
    <mass value="0.5702684639688947"/>
    <inertia ixx="0.000419" iyy="0.000381" izz="0.000555" ixy="0.000214" iyz="-5.1e-05" ixz="4.6e-05"/>
  </inertial>
  <visual>
    <origin xyz="-0.104057 -0.093724 -0.008" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find URDF_description)/meshes/combined_motor_tibia_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.104057 -0.093724 -0.008" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find URDF_description)/meshes/combined_motor_tibia_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="combined_motor_tibia__1__1">
  <inertial>
    <origin xyz="0.07432671506086122 0.05981391011482628 0.00796721702051778" rpy="0 0 0"/>
    <mass value="0.5702684639688947"/>
    <inertia ixx="0.000354" iyy="0.000446" izz="0.000555" ixy="-0.00021" iyz="-4.3e-05" ixz="-5.3e-05"/>
  </inertial>
  <visual>
    <origin xyz="-0.092496 0.052634 0.148" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find URDF_description)/meshes/combined_motor_tibia__1__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.092496 0.052634 0.148" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find URDF_description)/meshes/combined_motor_tibia__1__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="tibia_2_1">
  <inertial>
    <origin xyz="0.049086628082017525 0.039117637698670785 -0.0016677046248920096" rpy="0 0 0"/>
    <mass value="0.16915049183932718"/>
    <inertia ixx="0.000116" iyy="0.000166" izz="0.00028" ixy="-0.000109" iyz="7e-06" ixz="9e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.092504 0.052629 -0.008" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find URDF_description)/meshes/tibia_2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.092504 0.052629 -0.008" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find URDF_description)/meshes/tibia_2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="tibia_2__1__1">
  <inertial>
    <origin xyz="0.04236179225341931 -0.04631717992048758 0.0016677046248919636" rpy="0 0 0"/>
    <mass value="0.16915049183932718"/>
    <inertia ixx="0.000151" iyy="0.000131" izz="0.00028" ixy="0.000112" iyz="9e-06" ixz="-8e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.103696 -0.094085 0.148" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find URDF_description)/meshes/tibia_2__1__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.103696 -0.094085 0.148" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find URDF_description)/meshes/tibia_2__1__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="tibia_2__1__1">
  <inertial>
    <origin xyz="-0.030190207746580683 0.03300782007951242 0.0016677046248919636" rpy="0 0 0"/>
    <mass value="0.16915049183932718"/>
    <inertia ixx="0.000151" iyy="0.000131" izz="0.00028" ixy="0.000112" iyz="9e-06" ixz="-8e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.176248 -0.01476 0.148" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find URDF_description)/meshes/tibia_2__1__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.176248 -0.01476 0.148" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find URDF_description)/meshes/tibia_2__1__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="tibia_2_1">
  <inertial>
    <origin xyz="-0.03498337191798248 -0.027877362301329214 -0.0016677046248920096" rpy="0 0 0"/>
    <mass value="0.16915049183932718"/>
    <inertia ixx="0.000116" iyy="0.000166" izz="0.00028" ixy="-0.000109" iyz="7e-06" ixz="9e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.176574 -0.014366 -0.008" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find URDF_description)/meshes/tibia_2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.176574 -0.014366 -0.008" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find URDF_description)/meshes/tibia_2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Revolute 1" type="revolute">
  <origin xyz="0.065 -0.005 -0.144" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Combined_femur_1"/>
  <axis xyz="0.0 0.0 1.0"/>
  <limit upper="-2.094395" lower="-4.18879" effort="100" velocity="100"/>
</joint>

<joint name="Revolute 2" type="revolute">
  <origin xyz="0.065 0.055 -0.144" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Combined_femur__3__1"/>
  <axis xyz="0.0 0.0 1.0"/>
  <limit upper="-2.094395" lower="-4.18879" effort="100" velocity="100"/>
</joint>

<joint name="Revolute 3" type="revolute">
  <origin xyz="0.065 0.055 0.004" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Combined_femur__1__1"/>
  <axis xyz="0.0 0.0 -1.0"/>
  <limit upper="-2.094395" lower="-4.18879" effort="100" velocity="100"/>
</joint>

<joint name="Revolute 4" type="revolute">
  <origin xyz="0.065 -0.005 0.004" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Combined_femur__2__1"/>
  <axis xyz="0.0 0.0 -1.0"/>
  <limit upper="-2.094395" lower="-4.18879" effort="100" velocity="100"/>
</joint>

<joint name="Revolute 5" type="revolute">
  <origin xyz="0.039057 0.038724 0.004" rpy="0 0 0"/>
  <parent link="Combined_femur__1__1"/>
  <child link="combined_motor_tibia_1"/>
  <axis xyz="-0.0 -0.0 -1.0"/>
  <limit upper="3.926991" lower="-0.785398" effort="100" velocity="100"/>
</joint>

<joint name="Revolute 6" type="revolute">
  <origin xyz="0.027496 -0.047634 -0.004" rpy="0 0 0"/>
  <parent link="Combined_femur_1"/>
  <child link="combined_motor_tibia__1__1"/>
  <axis xyz="0.0 -0.0 1.0"/>
  <limit upper="3.926991" lower="-0.785398" effort="100" velocity="100"/>
</joint>

<joint name="Revolute 7" type="revolute">
  <origin xyz="0.111574 0.019366 0.004" rpy="0 0 0"/>
  <parent link="Combined_femur__2__1"/>
  <child link="tibia_2_1"/>
  <axis xyz="-0.0 -0.0 -1.0"/>
  <limit upper="3.926991" lower="-0.785398" effort="100" velocity="100"/>
</joint>

<joint name="Revolute 8" type="revolute">
  <origin xyz="0.111248 -0.04024 -0.004" rpy="0 0 0"/>
  <parent link="Combined_femur__3__1"/>
  <child link="tibia_2__1__1"/>
  <axis xyz="0.0 -0.0 1.0"/>
  <limit upper="3.926991" lower="-0.785398" effort="100" velocity="100"/>
</joint>

<joint name="Revolute 9" type="revolute">
  <origin xyz="0.083752 0.067394 0.0" rpy="0 0 0"/>
  <parent link="combined_motor_tibia__1__1"/>
  <child link="tibia_2__1__1"/>
  <axis xyz="-0.0 0.0 -1.0"/>
  <limit upper="-3.403392" lower="-5.759587" effort="100" velocity="100"/>
</joint>

<joint name="Revolute 10" type="revolute">
  <origin xyz="0.072517 -0.079358 0.0" rpy="0 0 0"/>
  <parent link="combined_motor_tibia_1"/>
  <child link="tibia_2_1"/>
  <axis xyz="0.0 -0.0 1.0"/>
  <limit upper="2.96706" lower="0.523599" effort="100" velocity="100"/>
</joint>

</robot>
